.task-list {
    background-color: #ecf0f1;
}

.task-item {
    border-bottom: 1px solid #bdc3c7;
    padding: 5px 0;
}

.task-item:last-child {
    border-bottom: none;
}

.task-item button {
    background-color: #e74c3c;
}

.task-item button:hover {
    background-color: #c0392b; }